.card {
  max-width: 25%;
  min-width: 200px;
  overflow: hidden;

  &__img {
    transition: .6s transform ease-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__img-wrapper {
    transition: .4s box-shadow;

    &:hover {
      box-shadow: -3px 1px 18px 0px #928c8d;
    }
  }
}