
body {
  margin: 0;
  padding: 0 0 150px 0;
  min-height: 100vh;
  position: relative;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
}

// move

.bg-dark {
  background: #0e0e0e !important;
}