.card {
   min-width: 200px;
   transition: .4s box-shadow;

   &__img {
     transition: .6s transform ease-out;
   }

   &:hover {
     box-shadow: -3px 1px 18px 0px #928c8d;

     .card__img {
       transform: scale(1.05);
     }
   }
 }